.main {
  --background: linear-gradient(
                  30deg,
                  #321450,
                  #860029,
                  #de004e,
                  #f887ff,
                  #29132e
                );
  background: var(--background);
  padding: 1.5rem;
}

.h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media screen and (max-width: 959px) {
  .desc {
    grid-template-columns: 1fr;
  }
}

.contact {
  color: purple;
  background: linear-gradient(
    30deg,
    #c4ffff,
    #08deea,
    #1261d1
  );
  border-radius: 8px;
  border: 1px solid purple;
  padding: 0.6rem 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px -4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
.contact:hover {
  border-color: #646cff;
}
.contact:focus,
.contact:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
