.h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.name {
  --background: linear-gradient(
    30deg,
    #29132e,
    #860029,
    #de004e,
    #f887ff,
    #860029,
    #29132e
  );
  background: var(--background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  white-space: nowrap;
  animation: background-pan 3s linear infinite;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media screen and (max-width: 959px) {
  .desc {
    grid-template-columns: 1fr;
  }
}

.contact {
  color: purple;
  background: linear-gradient(
    30deg,
    #c4ffff,
    #08deea,
    #1261d1
  );
  border-radius: 8px;
  border: 1px solid purple;
  padding: 0.6rem 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px -4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
.contact:hover {
  border-color: #646cff;
}
.contact:focus,
.contact:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
